.case-studies {
  // background-color: rgba(235, 235, 235, .82);
  // box-shadow: rgba(0, 0, 0, .16) 0 -3px 6px;
  clear: both;
  display: flex;
  justify-content: center;

  &__wrapper {
    margin: 0 4rem 3rem 2rem;
  }
}

.slides {
  &__wrapper {
    @include media(large) {
      height: 30.4rem;
      width: 38rem;
    }

    @include media(medium) {
      height: 22.4rem;
      width: 28rem;
    }

    @include media(small) {
      height: 23.4rem;
      width: 29.25rem;
    }

    @include media('x-small') {
      margin: 1rem;
      width: 100%;
    }

    box-shadow: rgba(0, 0, 0, .25) 0 3px 80px;
    height: 38.4rem;
    margin: 1rem 0 0;
    width: 48rem;
  }

  &__embed {
    height: 100%;
    overflow: scroll;
    position: relative;
    width: 100%;
  }
}
