.case-studies {
  background-color: rgba(235, 235, 235, .82);
  box-shadow: rgba(0, 0, 0, .16) 0 -3px 6px;
  clear: both;
  display: flex;
  justify-content: center;

  &__wrapper {
    margin-bottom: 2rem;
  }
}

.slides {
  &__wrapper {
    @include media(large) {
      height: 32rem;
      width: 40rem;
    }

    @include media(medium) {
      height: 24rem;
      width: 30rem;
    }

    @include media(small) {
      height: 19.2rem;
      width: 24rem;
    }

    @include media('x-small') {
      height: 12.6rem;
      width: 16rem;
    }

    box-shadow: rgba(0, 0, 0, .25) 0 3px 80px;
    height: 40rem;
    margin: 1rem auto;
    width: 50rem;
  }

  &__embed {
    height: 100%;
    overflow: scroll;
    position: relative;
    width: 100%;
  }
}
