.social-sharing {
  &__wrapper {
    @include media(large) {
      flex-direction: row;
      float: unset;
      margin-bottom: 1rem;
    }
    display: flex;
    flex-direction: column;
    float: left;
    margin: 0 1rem;
  }

  &__icon {
    font-size: 1.25rem;
    margin: .25rem;
    
    &--twitter {
      color: #1DA1F2;
    }

    &--facebook{
      color: #3B5998;
    }

    &--linkedin {
      color: #0077B5;
    }

    &--email {
      color: #D44638;
    }

    &--print {
      color: $color_font-title;
    }
  }
}

.subtopic {
  &__title {
    display: inline;
    margin: 0;
    z-index: 10;
  }

  &__highlight {
    background: $color_highlight-yellow;
    box-shadow: $shadow-level-one;
    height: .25rem;
    left: -.25rem;
    opacity: .5;
    position: relative;
    z-index: 10;
  }
}

.opportunity {
  @include media(medium) {
    margin-top: 2rem;
  }
  background-color: $color_bg-cyan;
  color: $color_font-contrast;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  width: 17.5rem;

  &__wrapper {
    @include media(medium) {
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
      margin-top: 0;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3rem;
  }

  &__title {
    color: $color_highlight-yellow;
    margin: 0 0 .5rem 0;
  }

  &__icon {
    align-self: center;
    font-size: 3rem;
    margin-right: 20px;
  }
}

.anchor {
  &__wrapper {
    align-items: center;
    bottom: 1rem;
    color: $color_font-title;
    display: flex;
    flex-direction: column;
    float: right;
    position: relative;
    text-decoration: none;
    width: 5.75rem;
  }

  &__icon {
    font-size: 2rem;
  }

  &__helper-text {
    text-align: center;
  }
}
