.learn-more {
  &__text {
    padding-bottom: 1rem;
    text-align: center;
  }
  &__row {
    @include media(large) {
      flex-wrap: wrap;
    }
    @include media(medium) {
      align-content: center;
      flex-direction: column;
    }

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: 4rem;
  }
}

.cta {
  &__wrapper {
    background-color: $color_bg-violet;
    border-radius: 5px;
    box-shadow: $shadow-level-one;
    display: flex;
    flex-basis: 35%;
    justify-content: center;
    margin: 1rem 0;
    width: 15rem;
    &:not(:last-child) {
      @include media(large) {
        margin-bottom: 4rem;
      }
    }
  }

  &__info {
    -webkit-transition: top .2s;
    align-items: center;
    background-color: $color_font-contrast;
    border: $color_border-gray;
    border-radius: 5px;
    box-shadow: $shadow-level-two;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    top: 1.5rem;
    transition: top .2s;
    width: 12rem;

    &:hover {
      top: 1rem;
      transition: top .2s;
    }
  }

  &__title {
    margin: 0;
    text-align: center;
  }

  &__description {
    color: $color_font-default;
    text-align: center;
  }
}
