.typology-grid {
  &-container {
    display: flex;
    flex-flow: row wrap;
  }
  &-text {
    flex-basis: 45%;
    flex-grow: 1;
    margin: 1.5%;
    max-height: 20rem;
    max-width: 47%;
  }
  @media only screen and (max-width: 650px) {
    &-text {
      flex-basis: 95%;
      margin: 1.5% 0;
      max-width: 100%;
    }
  }
}

.cell {
  &__wrapper {
    margin: 1.5%;
    max-height: 20rem;
    object-fit: contain;
    position: relative;
    width: 47%;
  }

  &__image {
    max-height: 100%;
    max-width: 100%;
  }

  &__title {
    background-color: $color_bg-violet;
    color: rgba(255,255,255,1.7);
    display: inline;
    margin: 1rem 1rem 1rem -0.5rem;
    padding: .75rem 1rem .75rem 1.5rem;
    position: absolute;
    z-index: 10;
  }

  &__overlay {
    -webkit-transition: background-color .25s;
    height: 100%;
    position: absolute;
    top: 0;
    transition: background-color .25s;
    width: 100%;
    z-index: 20;

    &--hover {
      -webkit-transition: background-color .25s;
      background-color: rgba(0, 0, 0, .7);
      transition: background-color .25s;
    }
  }
   
  @media only screen and (max-width: 650px) {
    &__wrapper {
      flex-basis: 95%;
      margin: 1.5% 0;
      width: 100%;
    }
  }
}

.overlay {
  &__title {
    color: rgba(255,255,255,1.7);
    display: inline;
    margin: 1rem;
    padding: .75rem 1rem .75rem 0;
    position: absolute;
    z-index: 10;
  }

  &__description {
    -webkit-transition: display .25s;
    color: $color_font-contrast;
    display: none;
    margin: 1rem;
    position: relative;
    top: 4rem;
    transition: display .25s;

    &--hover {
      -webkit-transition: display .25s;
      display: inline-block;
      transition: display .25s;
    }
  }
}
