.cell {
  &__wrapper {
    height: max-content;
    position: relative;
    width: max-content;
  }

  &__title {
    background-color: $color_bg-violet;
    color: $color_font-contrast;
    display: inline;
    margin: 1rem;
    padding: .75rem 1rem;
    position: absolute;
    top: .5rem;
    z-index: 10;
  }
}
