$color_highlight-yellow: #F5Cf67;
$color_bg-violet: #96536C;
$color_bg-cyan: #49849D;
$color_accent-green: #8AAA8C;
$color_accent-blue: #75BCE1;
$color_font-contrast: #FFFFFF;
$color_font-title: #414141;
$color_font-default: #5C5C5C;

$font_size-base: 16px;
$font_size-base--rem: 1rem;